<h3> Your Course</h3>

<table>
  <tr>
    <th>Name</th>
    <th>Number</th>
  </tr>

  <% @courses.each do |course| %>
    <tr>
      <td><%= course.name%></td>
      <td><%= course.number%></td>
    </tr>
  <% end %>
</table>
<%= link_to 'Continue to add', store_path %> 
