<h1>Listing Courses</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Number</th>
  </tr>

  <% @courses.each do |course| %>
    <tr>
      <td><%= course.name %></td>
      <td><%= course.number %></td>
    </tr>
  <% end %>
  <%= link_to 'New course', courses_new_path %>
</table>
